@font-face {
    font-family: 'FranklinGot';
    src: url('../FranklinGothic-Medium.eot');
    src: url('FranklinGothic-Medium.eot?#iefix') format('embedded-opentype'),
        url('../FranklinGothic-Medium.woff2') format('woff2'),
        url('../FranklinGothic-Medium.woff') format('woff'),
        url('../FranklinGothic-Medium.ttf') format('truetype'),
        url('../FranklinGothic-Medium.svg#FranklinGothic-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body{
    
    
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 3;
}
.logo{
    color: #fff;
    font-size: 18px;
    line-height: 60px;
    
    float: left;
    animation: comming 2s;
    font-family: 'FranklinGot', sans-serif;
    
        
}
.menu{
    float: left;
    
}
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 25px;
    font-size: 12px;
    text-transform: uppercase;
    animation: topshift 2s forwards;
    opacity: 0;
   
    
    
}
.menu li a{
    transition: all 0.2s;
    color: white;
    display: inline-block;
    transform: scale(1);
     text-decoration: none;
        
}
.menu li a:visited{color: white;}
.menu li a:hover{color: #e88604;
transform: scale(1.1);}
.menu li a:active{ transform: scale(0.9);}


.white-btn:visited{
    color: white;
}


.main{
    width: 100%;
    height: 100%;
    background: url(../img/fon/ya.jpg) 90% 100%/auto 80% no-repeat , url(../img/fon/2022-04-21_20-30-52.png) center/cover no-repeat;
    }
.title__container{
    float: left;
    
    color: #2c384a;
    text-align: center;
    transition: all;
    /. animation: title 2s forwards;./
    /. animation-delay: 2s;./
   /.   opacity: 0;./
    
    
}
.title__container h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
   font-weight: bold;
}
.title__container h4{
    margin-top: 20px;
    font-size: 16px;
    color: #79818d;
}
.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 16px;
    padding: 10px 16px 10px 16px;
    margin: 40px 12px 0px 12px;
    transition: all 0.2s;
    transform: scale(1);
}
.title__container input:hover{
    background: #344051;
    color: white;
}
.title__container input:active{
    transform: scale(0.8);
}



@keyframes comming{
    from{ 
    opacity: 0;}
    to{
        opacity: 1;
    }
}
@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}



@keyframes title{
    from{
        opacity: 0;
        margin-left: 0px;
    }
    to{
        opacity: 1;
        margin-left: 200px;
    }
}





.block2{
    width: 100%;
    height: 100%;
    background: none;
    transition: all;
        
}
.block2 h2{
    font-size: 20px;
    text-align: center;
    
    font-weight: bold;
    color: #263244;
    
    /. animation: biogr 3s infinite ease-out; ./
}

@keyframes biogr{
    from {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(30deg);
    }
    to {
        transform: rotate(-30deg);
    }
}
.foto{
   width: 100%;
    height: 100%;
    border-radius: 50%;

  
}

.Paragraf2{
    width: 600px;
   align-content: center;
    font-size: 13px;
    text-align: center;

   
}
.btn-rezume{
      height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
  margin-bottom: 60px;
    border-radius: 5px;
    
    font-size: 16px;
   
    
    transform: scale(1);
}
.btn-rezume:active{
    transform: scale(0.8);
    
}
.btn-rezume:hover{
    background: #344051;
    color: white;
}
.btn-rezume input{
    color: black;
   
}
.container_umenia{
     width: 100%;
    height: 500px;
    background: url(../img/fon/fon_umey.jpg) center/cover no-repeat;
    transition: all;
}

.umenia h2{
    
    
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #263244;
    padding-top: 60px;
    margin-bottom: 150px;
    animation-name: rot;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-out;
    }
@keyframes rot{
    from {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(30deg);
    }
    to {
        transform: rotate(-30deg);
    }
}


.web{
    width: 100%;
    height: 100%;
   
    float: left;
    
    
}

.web p1{
    margin: 42%;
}
.web h4{
     color: #d1873a;
    font-size: 13px;
    text-align: center;
    margin: 20px;
}
.web p{
    color: #757b86;
    text-align: center;
    font-size: 13px;
}
.razrabotka{
    width: 100%;
    height: 100%;
   
    float: left;
    
}
.razrabotka p1{
    margin: 42%;}

.razrabotka h4{
   color: #d1873a;
    font-size: 13px;
    text-align: center;
    margin: 20px;
}
.razrabotka p{
    color: #757b86;
    text-align: center;
    font-size: 13px;
}
.seo{
     width: 100%;
    height: 100%;
    
    float: left;
    
}
.seo p1{
    margin: 42%;}

.seo h4{
color: #d1873a;
    font-size: 13px;
    text-align: center;
    margin: 20px;
}

.seo p{
    color: #757b86;
    text-align: center;
    font-size: 13px;
}
.marketing{
     width: 100%;
    height: 100%;
   
    float: left;
    
   
}


.marketing p1{
    margin: 42%;}
.marketing h4{
   color: #d1873a;
    font-size: 13px;
    text-align: center;
    margin: 20px;
}
.marketing p{
    color: #757b86;
    text-align: center;
    font-size: 13px;
}
.keysi{
    width: 100%;
    height: 100%;
    background: none;
    transition: all;
    margin-top: 150px;
}
.keysi h2{
    display: inline-block;
     
   
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #263244;
    overflow: hidden;
    animation: key 3s linear infinite;
}
 @keyframes key{
        0%{
            transform: rotate(0deg)
        }
        100%{ transform: rotate(360deg)}
    }
.keysi h2:hover{
   box-shadow: 2px 2px 10px red;
    border-radius: 7px;
    padding: 10px;
    
}
.keysi p{
    
    text-align: center;
   margin-top: 5%;
    
    font-size: 13px;
    color: #3f495a;
}
.keysi p1{
   margin-left: 18%;
    
}
    

.client{
    float: left;
    width: 100%;
    height: 100%;
   
    margin-left: 6%;
}
.client h3{
    color: #384354;
    font-weight: bold;
    
    font-size: 16px;
   
}
.client span{
    font-size: 12px;
    
}
.client input{
    border: 2px solid #91e3dc;
    border-radius: 5px;
    background-color: #91e3dc;
   
    padding: 2%;
    font-weight: bold;
    transform: scale(1);
}
.client input:hover{
    transform: scale(1.1);
    background-color: white;
    color: red;
}
.client input:active{
    transform: scale(0.8);
}
.Project_name{
 
    width: 100%;
    height: 100%;
   
}

.Project_name p{
    
    color: #747a85;
    font-size: 13px;
    text-align: left;
    
}
.Project_name b{
     
    font-size: 15px;
    color: #000; 
    animation: name_proj 3s linear infinite;
}

@keyframes name_proj{
    0%{
        margin-left: 0px;
    }
    50%{ margin-left: 30px;}
}
100%{ margin-left: 0px;}



.calk{
    width: 100%;
    height: 100%;
  margin-top: 250px;
    
}
.calk h2{
     color: #384354;
    font-weight: bold;
    
    font-size: 30px;
    text-align: center;
    margin-top: 10%;
    
}
.formaselekt{
    box-shadow: -15px 0 10px 0 rgba(0,0,0,0.2);
}
.calk h3{
    font-size: 16px;
    font-weight: bold;
    margin: 20px 100px 20px 100px;
}
.calk select{
    font-size: 16px;
    margin-left: 100px;
}
.calk h4{
    font-size: 16px;
    margin: 50px 300px 20px 100px;
    font-weight: bold;
    word-spacing: 500px;
    
}
.calk h5{
    font-size: 16px;
    margin: 0px 300px 20px 100px;
    font-weight: bold;
    word-spacing: 463px;
}
.calk input{
    border: 2px solid #91e3dc;
    border-radius: 5px;
    background-color: #91e3dc;
   margin-left: 10%;
    padding: 2%;
    font-weight: bold;
    
}
.stat{
    width: 100%;
    height: 280px;
    
  
    background: url(../img/fon/fonstat.png) center/cover no-repeat;
    
   background-attachment: fixed;
           
    
}

 
.stat h2{
    color: #384354;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    padding-top: 70px;
    margin-bottom: 40px;
    
}
.klient{
    width: 100%;
    height: 100%;
 
    float: left;
    
}
.klient p{
  margin-left:40%;
    
}
.klient h3{
     color: #000;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
.klient span{
    color: #000;
    text-align: center;
    font-size: 13px;
    display: inline-block;
    white-space: nowrap;
    text-transform: uppercase;
    margin-left: 32%;
}
.rabota{
    width: 100%;
    height: 100%;
    
    float: left;
   
}
.rabota p{
    margin-left: 40%;}

.rabota h3{
   color: #000;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
.rabota span{
    color: #000;
    text-align: center;
    font-size: 13px;
    display: inline-block;
    white-space: nowrap;
    text-transform: uppercase;
    margin-left: 40%;
}
.zaversh{
      width: 100%;
    height: 100%;
   
    float: left;
  
    
}
.zaversh p{
    margin-left: 40%;}

.zaversh h3{
   color: #000;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.zaversh span{
     color: #000;
    text-align: center;
    font-size: 13px;
    display: inline-block;
    white-space: nowrap;
    text-transform: uppercase;
    margin-left: 32%;
}
.kubok{
     width: 100%;
    height: 100%;
    
    float: left;
 
}
.kubok p{
    margin-left: 40%;}
.kubok h3{
    color: #000;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
.kubok span{
     color: #000;
    text-align: center;
    font-size: 13px;
    display: inline-block;
    white-space: nowrap;
    text-transform: uppercase;
    margin-left: 32%;
}
.otziv{
    width: 100%;
    height: 100%;
    background: none;
}
.otziv h2{
    font-size: 16px;
    font-weight: bold;
    margin: 60px 0;
    text-align: center;
}
.otziv p1{
    margin: 0 25%;
     
   
}
.otziv p{
    font-size: 13px;
    text-align: center;
    margin: 3%;
}
.Kontakt{
    width: 100%;
    height: 100%;
    background: url(../img/fon/fonkontakt.png) center/cover no-repeat;
    color: #fff;
}
.Kontakt h2{
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding: 40px;
}
.Kontakt p{
    font-size: 13px;
    text-align: center;
    
}


.spis p{
    float: left;
    
    color: #fff;
  
}
.spis a{
    color: #fff;
    
}
.spis>p{
    transition: all;
    animation: zvonok 3s infinite;
}
@keyframes zvonok{
    0%{
        transform: rotate(0deg) scale(0.8);
        
    }
    50%{
        transform: rotate(10deg) scale(1);
        
    }
    100%{
        transform: rotate(0deg) scale(1.2);
        
    }
}
.sms{
    width: 100%;
    height: 100%;
    clear: both;
        
}
.sms h3{
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 20px;
}
.sms form{
    width: 500px;
    height: 150px;
    padding: 32;
    letter-spacing: 1px;
    opacity: 0.8;
   
}
.sms button{
    
    text-align: center;
    margin-left: 20%;
    margin-top: 10px;
    border-width: 30px;
    box-shadow: 2px 2px 10px #eee;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    transform: scale(1);
    
}
.sms button:active{
    transform: scale(0.8)
}
.sms button:hover{
    background-color: greenyellow;
    color: black;
    font-size: 16px;
}
.icon{
    width: auto;
    height: auto;
    
    margin-top: 30%;
    margin-bottom: 20%;

}
.icon a{
    margin-left: 20px;
}
.kart{
    width: auto;
    height: 300px;
}
.copir{
    width: 100%;
    height: 30px;
    background-color: #354051;
}
.copir h6{
    text-align: center;
    font-size: 11px;
    color: #fff;
    line-height: 30px;
}

.custom-css{
    font-size: 25px;
    margin: 5px;
    animation: css 3s infinite;
}
@keyframes css{
    0%{
        transform: rotate(0deg) scale(0.8);
        
    }
    50%{
        transform: rotate(10deg) scale(1);
        
    }
    100%{
        transform: rotate(0deg) scale(1.2);
    }
   
    @media (max-width: 900px){.title__container,.title__container h4, .title__container input{
            color: white;
        position: relative;
        z-index: 2;
        animation-delay: 0.4s;
        }
        .title__container input{
            border: 2px solid #fff;
        }
        .main { position: relative;}
        .main::after {
            content: "";
            bottom: 0;
            top: 0;
            left: 0;
            position: absolute;
            background: rgba(0,0,0,0.4);
                
            
        }
    }
 