
body{
    
    
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
}
.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 280px;
    float: left;
    animation: comming 2s;
    
        
}
.menu{
    float: left;
    padding-left: 280px;
}
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 25px;
    font-size: 12px;
    text-transform: uppercase;
    animation: topshift 2s forwards;
    opacity: 0;
    
    
}
.menu li a{
    transition: all 0.2s;
    color: white;
    display: inline-block;
    transform: scale(1);
        
}
.menu li a:visited{color: white;}
.menu li a:hover{color: #e88604;
transform: scale(1.1);}
.menu li a:active{ transform: scale(0.9);}


.main{
    width: 100%;
    height: 100%;
    background: url(../img/fon/ya.jpg) 90% 100%/auto 80% no-repeat , url(../img/fon/2022-04-21_20-30-52.png) center/cover no-repeat;
    }
.title__container{
    float: left;
    margin: 300px 0px 0px 300px;
    color: #2c384a;
    text-align: center;
    transition: all;
    animation: title 2s forwards;
    animation-delay: 2.4s;
    opacity: 0;
    
    
}
.title__container h1{
    font-size: 40px;
    font-weight: bold;
}
.title__container h4{
    margin-top: 20px;
    font-size: 16px;
    color: #79818d;
}
.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 16px;
    padding: 10px 16px 10px 16px;
    margin: 40px 12px 0px 12px;
    transition: all 0.2s;
    transform: scale(1);
}
.title__container input:hover{
    background: #344051;
    color: white;
}
.title__container input:active{
    transform: scale(0.8);
}

/.Анимация меню./

@keyframes comming{
    from{ 
    opacity: 0;}
    to{
        opacity: 1;
    }
}
@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}



@keyframes title{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 300px;
    }
}





.block2{
    width: 100%;
    height: 300px;
    background: none;
    transition: all;
        
}
.block2 h2{
    font-size: 20px;
    text-align: center;
    margin-top: 60px;
    font-weight: bold;
    color: #263244;
    
    animation: biogr 3s infinite ease-out;
}

@keyframes biogr{
    from {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(30deg);
    }
    to {
        transform: rotate(-30deg);
    }
}
.block2 div{
   width: 70px;
    height: 70px;
    border-radius: 50% 50%;
    background: url(../img/img%20ya.jpg) center/cover no-repeat;
    margin: 60px 625px 30px 625px;
}

.block2 p{
    width: 600px;
     color: #525b69;
    font-size: 13px;
    text-align: center;
    margin: 20px 350px;
}
.block2 input{
      height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 16px;
    margin: 20px 0px 20px 600px;
    padding: 10px;
    transform: scale(1);
}
.block2 input:active{
    transform: scale(0.8);
    
}
.block2 input:hover{
    background: #344051;
    color: white;
}
.umenia{
     width: 100%;
    height: 450px;
    background: url(../img/fon/fon_umey.jpg) center no-repeat;
    transition: all;
}
.umenia h2{
    margin: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #263244;
    padding-top: 100px;
    margin-bottom: 150px;
    animation-name: rot;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-out;
    }
@keyframes rot{
    from {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(30deg);
    }
    to {
        transform: rotate(-30deg);
    }
}


.web{
    width: 200px;
    height: 150px;
   
    float: left;
    margin: 0px 60px;
    animation: webb 3s linear infinite;
}
@keyframes webb{
    0%{
        margin-left: 80px;
    }
    50%{ margin-left: 90px}
    100%{ margin-left: 80px;
    }
}
.web p1{
    margin: 80px;
}
.web h4{
     color: #d1873a;
    font-size: 13px;
    text-align: center;
    margin: 20px;
}
.web p{
    color: #757b86;
    text-align: center;
    font-size: 13px;
}
.razrabotka{
    width: 200px;
    height: 150px;
   
    float: left;
    margin: 0px 60px;
}
.razrabotka p1{
    margin: 80px;}

.razrabotka h4{
   color: #d1873a;
    font-size: 13px;
    text-align: center;
    margin: 20px;
}
.razrabotka p{
    color: #757b86;
    text-align: center;
    font-size: 13px;
}
.seo{
     width: 200px;
    height: 150px;
    
    float: left;
    margin: 0px 60px;
    
}
.seo p1{
    margin: 80px;}

.seo h4{
color: #d1873a;
    font-size: 13px;
    text-align: center;
    margin: 20px;
}

.seo p{
    color: #757b86;
    text-align: center;
    font-size: 13px;
}
.marketing{
     width: 200px;
    height: 150px;
   
    float: left;
    margin: 0px 60px;
   
}


.marketing p1{
    margin: 80px;}
.marketing h4{
   color: #d1873a;
    font-size: 13px;
    text-align: center;
    margin: 20px;
}
.marketing p{
    color: #757b86;
    text-align: center;
    font-size: 13px;
}
.keysi{
    width: 100%;
    height: 100%;
    background: none;
    transition: all;
    
}
.keysi h2{
    display: inline-block;
     margin: 70px;
    margin-left: 600px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #263244;
    overflow: hidden;
    animation: key 3s linear infinite;
}
 @keyframes key{
        0%{
            transform: rotate(0deg)
        }
        100%{ transform: rotate(360deg)}
    }
.keysi h2:hover{
   box-shadow: 2px 2px 10px red;
    border-radius: 7px;
    padding: 10px;
    
}
.keysi p{
    
    text-align: center;
   
    font-size: 13px;
    color: #3f495a;
}
.keysi p1{
    margin: 0px 300px;
    transform: scale(1);
}
.keysi p1: hover{
    transform: scale(1.2);
}
.client{
    float: left;
    width: 400px;
    height: 200px;
   
    margin: 0px 100px 0px 0px;
}
.client h3{
    color: #384354;
    font-weight: bold;
    
    font-size: 16px;
    margin: 20px 300px 0px 300px;
}
.client span{
    font-size: 12px;
    margin: 20px 300px 0px 300px;
}
.client input{
    border: 2px solid #91e3dc;
    border-radius: 5px;
    background-color: #91e3dc;
    margin: 10px 300px 0px 300px;
    padding: 10px 20px;
    font-weight: bold;
    transform: scale(1);
}
.client input:hover{
    transform: scale(1.1);
    background-color: white;
    color: red;
}
.client input:active{
    transform: scale(0.8);
}
.Project_name{
    
    width: 1000px;
    height: 200px;
    margin: 18px 0px 0px 0px;
}

.Project_name p{
    color: #747a85;
    font-size: 13px;
    text-align: left;
    
}
.Project_name b{
    font-size: 15px;
    color: #000; 
    animation: name_proj 3s linear infinite;
}

@keyframes name_proj{
    0%{
        margin-left: 0px;
    }
    50%{ margin-left: 30px;}
}
100%{ margin-left: 0px;}



.calk{
    width: auto;
    height: 210px;
    margin-left: 250px;
    margin-top: 250px;
    margin-bottom: 250px;
}
.calk h2{
     color: #384354;
    font-weight: bold;
    
    font-size: 20px;
    margin: 20px 300px 50px 300px;
}
.calk h3{
    font-size: 16px;
    font-weight: bold;
    margin: 20px 100px 20px 100px;
}
.calk select{
    font-size: 16px;
    margin-left: 100px;
}
.calk h4{
    font-size: 16px;
    margin: 50px 300px 20px 100px;
    font-weight: bold;
    word-spacing: 500px;
    
}
.calk h5{
    font-size: 16px;
    margin: 0px 300px 20px 100px;
    font-weight: bold;
    word-spacing: 463px;
}
.stat{
    width: 100%;
    height: 280px;
    
  
    background: url(../img/fon/fonstat.png) center/cover no-repeat;
    
   background-attachment: fixed;
           
    
}
 
.stat h2{
    color: #384354;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    padding-top: 60px;
    margin-bottom: 40px;
    
}
.klient{
    width: 200px;
    height: 150px;
   
    float: left;
    margin: 0px 60px;
}
.klient p{
    margin: 20px 0px 20px 80px;
}
.klient h3{
     color: #000;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
.klient span{
    color: #000;
    text-align: center;
    font-size: 13px;
    padding-left: 30px;
    white-space: nowrap;
    text-transform: uppercase;
}
.rabota{
    width: 200px;
    height: 150px;
    
    float: left;
    margin: 0px 60px;
}
.rabota p{
    margin: 20px 0px 20px 80px;}

.rabota h3{
   color: #000;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
.rabota span{
    color: #000;
    text-align: center;
    font-size: 13px;
    padding-left: 50px;
    white-space: nowrap;
    text-transform: uppercase;
}
.zaversh{
      width: 200px;
    height: 150px;
   
    float: left;
    margin: 0px 60px;
    
}
.zaversh p{
    margin: 20px 0px 20px 80px;}

.zaversh h3{
   color: #000;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.zaversh span{
     color: #000;
    text-align: center;
    font-size: 13px;
    padding-left: 30px;
    white-space: nowrap;
    text-transform: uppercase;
}
.kubok{
     width: 200px;
    height: 150px;
    
    float: left;
    margin: 0px 60px;
}
.kubok p{
    margin: 20px 0px 20px 80px;}
.kubok h3{
    color: #000;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
.kubok span{
     color: #000;
    text-align: center;
    font-size: 13px;
    padding-left: 30px;
    white-space: nowrap;
    text-transform: uppercase;
}
.otziv{
    width: 100%;
    height: 280px;
    background: none;
}
.otziv h2{
    font-size: 16px;
    font-weight: bold;
    margin: 60px;
    text-align: center;
}
.otziv p1{
    margin: 20px 650px 20px 630px;
     
   
}
.otziv p{
    font-size: 13px;
    text-align: center;
    margin: 20px;
}
.Kontakt{
    width: 100%;
    height: 500px;
    background: url(../img/fon/fonkontakt.png) center/cover no-repeat;
    color: #fff;
}
.Kontakt h2{
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding: 40px;
}
.Kontakt p{
    font-size: 13px;
    text-align: center;
    
}
.spis p{
    float: left;
    margin-left: 200px;
    color: #fff;
    margin-top: 30px;
}
.spis a{
    color: #fff;
    
}
.spis>p{
    transition: all;
    animation: zvonok 3s infinite;
}
@keyframes zvonok{
    0%{
        transform: rotate(0deg) scale(0.8);
        
    }
    50%{
        transform: rotate(10deg) scale(1);
        
    }
    100%{
        transform: rotate(0deg) scale(1.2);
        
    }
}
.sms{
    width: auto;
    height: 200px;
    clear: both;
        
}
.sms h3{
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 20px;
}
.sms form{
    width: 500px;
    height: 150px;
    padding: 32;
    letter-spacing: 1px;
    opacity: 0.8;
    margin-left: 510px;
}
.sms button{
    
    text-align: center;
    margin-left: 120px;
    margin-top: 10px;
    border-width: 30px;
    box-shadow: 2px 2px 10px #eee;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    transform: scale(1);
    
}
.sms button:active{
    transform: scale(0.8)
}
.sms button:hover{
    background-color: greenyellow;
    color: black;
    font-size: 16px;
}
.icon{
    width: auto;
    height: auto;
    margin-left: 500px;
    margin-top: 30px;

}
.icon a{
    margin-left: 20px;
}
.kart{
    width: auto;
    height: 300px;
}
.copir{
    width: 100%;
    height: 30px;
    background-color: #354051;
}
.copir h6{
    text-align: center;
    font-size: 11px;
    color: #fff;
    line-height: 30px;
}

